server {
    listen 80;
    listen [::]:80;

    server_name {{ server_name }} www.{{ server_name }};

    root {{ document_root }};

    index index.html;

    location /api/ {
        proxy_pass http://127.0.0.1:8080/;
    }

    location /nosab/ {
        # Get default MIME types
        include /etc/nginx/mime.types;
        # Add WASM type
        types {
            application/wasm wasm;
        }
    }

    location / {
        # Get default MIME types
        include /etc/nginx/mime.types;
        # Add WASM type
        types {
            application/wasm wasm;
        }
        add_header Cross-Origin-Embedder-Policy 'require-corp' always;
        add_header Cross-Origin-Opener-Policy 'same-origin' always;

        try_files $uri $uri/ =404;
    }
}
