<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Test of VueJS Notebook</title>
<script defer src="codemirror/codemirror.js"></script>
<link rel="stylesheet" href="codemirror/codemirror.css">
<script defer src="codemirror/python.js"></script>
<script defer src="vue.js"></script>
<script defer src="vuex.js"></script>
<script defer src="marked.min.js"></script>
<script src="Sortable.min.js"></script>
<script src="vuedraggable.umd.min.js"></script>
<link rel="stylesheet" href="bulma.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<style>
#status {
    display: flex;
    width: auto;
    height: 32px;
    margin: 10px;
}
div#status p {
    padding: 0;
    margin: 0;
    font-size: 10pt;
    font-family: monospace;
}
.cell {
    position: relative;
    border: 1px solid transparent;
    border-left-width: 5px;
    margin: 15px;
    display: flex;
}
.cell.selected {
    border: 1px solid #00f;
    border-left-width: 5px;
}

div .side-left {
    min-height: 40px;
    flex: 0 0 40px;
}
div .side-right {
    flex: 1 1 auto;
    overflow: hidden;
}
div.cellinput {
    height: auto;
    width: 100%;
    padding: 10px 20px 10px 10px;
}
div.cellinput.CodeMirror {
    border: 1px solid #f0f4ff;
    border-radius: 4px;
    height: auto;
    z-index: 10;
    width: 100%;
}
div.code div.cellinput.CodeMirror {
    background-color: #f6faff;
}   
div.markdown div.cellinput.CodeMirror {
    background-color: #fffaf6;
}
.cellinput.CodeMirror-focused {
}
.CodeMirror-scroll {
    width: auto;
}

.output {
    height: auto;
}
div.output pre {
    background-color: transparent;
}
.evaloutput {
    height: auto;
}
div.output pre.stdout {
}
div.output pre.stderr {
    background-color: #ff0;
}
.eval {
}
.output pre {
    white-space: pre-wrap;
    word-break: break-all;
    margin: 0;
    padding: 1px 24px 1px 24px;
}
.led {
    width: 16px;
    height: 16px;
    background-image: url('gfx/led-sprite-small.png');
    background-position: 0px -128px;
}
.led.on {
    background-position: 0px -144px;
}
</style>
</head>
<body>




<div id="app" v-on:click.stop="handleOuterClick">

    <div id='status'>
        <div id='busy' class='led'></div>
        <div id='loading' class='led'></div>
        <div id='starting' class='led'></div>
    </div>

    <div id="menu">
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopups="true" aria-controls="dropdown-menu-file">
                    <span>File</span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu-file" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" v-on:click.stop="fileNew">New</a>
                    <a class="dropdown-item" v-on:click.stop="fileSave">Save</a>
                </div>
            </div>
        </div>
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopups="true" aria-controls="dropdown-menu-edit">
                    <span>Edit</span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu-edit" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" v-on:click.stop="insertBefore">Insert new cell before</a>
                    <a class="dropdown-item" v-on:click.stop="insertAfter">Insert new cell after</a>
                    <a class="dropdown-item" v-on:click.stop="deleteCell">Delete cell</a>
                    <a class="dropdown-divider"></a>
                    <a class="dropdown-item" v-on:click.stop="typeCellCode">Type - code</a>
                    <a class="dropdown-item" v-on:click.stop="typeCellMarkdownEdit">Type - Markdown - Edit</a>
                    <a class="dropdown-item" v-on:click.stop="typeCellMarkdownView">Type - Markdown - View</a>
                    <a class="dropdown-divider"></a>
                    <a class="dropdown-item" v-on:click.stop="typeSomething">Type something</a>
                </div>
            </div>
        </div>
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopups="true" aria-controls="dropdown-menu-debug">
                    <span>Debug</span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu-debug" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" v-on:click.stop="debugDump">Console dump</a>
                </div>
            </div>
        </div>
    </div>

<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li v-for="p in pagination">
      <a v-if="p !== -1" class="pagination-link" v-bind:class="{ 'is-current': p === getPage() + 1 }" :aria-label="p">{{p}}</a>
      <span v-if="p === -1" class="pagination-ellipsis">&hellip;</span>
    </li>
  </ul>
</nav>

    <cells
        v-on:update:value="handleInput"
        v-on:update:values="handleDrag"
        v-on:action="handleAction"
        v-on:click="handleClick"
        v-bind:values="getCells()"
        v-bind:select="getSelect()"
    >
    </cells>
</div>

<script type='module'>

import { onready } from './onready.js'
import { signalMap,
         isBusy,
         isStarting, setStarting,
         setInterrupt, clearInterrupt,
         inputPut
       } from './signal.js';
import { newPythonKernel } from './python.js';

onready(function() {

    // Global variable keeping list of all codemirror editors
    // Needed to quickly update dragdrop state (prevent dropping in editors)
    Vue.prototype.$globalCMList = [];

    Vue.component('codemirror', {
        props: ['options', 'value', 'id'],
        template: String.raw`
            <div class="cellinput">
                <textarea></textarea>
            </div>`,
        mounted: function() {
            var self = this;
            var elem = self.$el.querySelector('textarea');
            self.editor = CodeMirror.fromTextArea(elem, self.options);
            self.$globalCMList.push(self.editor);
            self.editor.getWrapperElement().classList.add('cellinput');
            self.editor.setValue(self.value || '');
            self.editor.on('change', function(cm) {
                self.$emit('update:value', cm.getValue());
            });
            self.editor.setOption('extraKeys', {
                'Ctrl-Enter': function(cm) {
                    self.$emit('action', { id:self.id, action:'eval' });
                },
                'Ctrl-C': function(cm) {
                    self.$emit('action', { id:self.id, action:'break' });
                },
                'Ctrl-I': function(cm) {
                    self.$emit('action', { id:self.id, action:'insert-after' });
                },
            });
        },
        watch: {
            value: function(v) {
                var currentValue = this.editor.getValue();
                if (currentValue !== v) {
                    this.editor.setValue(v);
                }
            },
        },
    });

    Vue.component('dataoutput', {
        props: ['value', 'isResult'],
        template: String.raw`
            <div>
                <pre v-if="isPre(value)" :class="getClass(value)"><img v-if="isResult" src="gfx/right2.svg" width=10 height=10></img> {{ value['text/plain'] }}</pre>
                <div v-if="isHtml(value)" :class="getClass(value)"><img v-if="isResult" src="gfx/right2.svg" width=10 height=10></img><div class="content" v-html="value['text/html']"></div></div>
            </div>
        `,
        methods: {
            getClass (value) {
                return "stdout";
            },
            isPre (value) {
                return value['text/plain'] !== undefined;
            },
            isHtml (value) {
                return value['text/html'] !== undefined;
            },
        }
    });

    Vue.component('celloutput', {
        props: ['values'],
        template: String.raw`
            <div class="output">
                <template v-for="value in values">
                    <pre v-if="isStream(value)" :class="value.name">{{ value.text }}</pre>
                    <dataoutput
                        v-if="isExecuteResult(value) || isDisplayData(value)"
                        v-bind:value="value.data"
                        v-bind:isResult="isExecuteResult(value)"
                    >
                    </dataoutput>
                </template>
            </div>`,
        methods: {
            isStream (value) {
                return value.output_type === 'stream';
            },
            isExecuteResult (value) {
                return value.output_type === 'execute_result';
            },
            isDisplayData (value) {
                return value.output_type === 'display_data';
            },
        }
    });

    Vue.component('cell', {
        props: ['value', 'output', 'id', 'selected', 'type'],
        template: String.raw`
            <div class="cell" v-bind:class="classObject" v-on:click.stop="handleClick">
                <div class="side-left">
                </div>
                <div class="side-right" :class="rightClass">
                    <codemirror
                        v-bind:value="value"
                        v-on:update:value="handleInput"
                        v-on:action="handleAction"
                        v-if="showEdit"
                        >
                    </codemirror>
                    <celloutput
                        v-bind:values="filteredOutput"
                        v-if="showResults"
                    >
                    </celloutput>
                </div>
            </div>`,
        computed: {
            showEdit () {
                return this.type === 'code' || this.type === 'markdown-edit';
            },
            showResults () {
                return this.type === 'code' || this.type === 'markdown-view' || this.type === 'markdown-edit';
            },
            classObject: function () {
                return {
                    selected: this.selected
                }
            },
            filteredOutput () {
                if (this.type === 'code') {
                    return this.output;
                }
                if (this.type === 'markdown-edit' || this.type === 'markdown-view') {
                    return [ {
                        output_type:'display_data',
                        data: {
                            'text/html': marked(this.value),
                        },
                    } ];
                }
            },
            rightClass: function () {
                return {
                    code: this.type === 'code',
                    markdown: this.type === 'markdown-edit' || this.type === 'markdown-view',
                }
            },
        },
        methods: {
            handleInput (event) {
                this.$emit('update:value', { id:this.id, value:event });
            },
            handleAction (event) {
                this.$emit('action', { id:this.id, action:event.action });
            },
            handleClick (event) {
                this.$emit('click', { id:this.id });
            },
        }
    });

    Vue.component('draggable', vuedraggable);

    Vue.component('cells', {
        props: [ 'values', 'select' ],
        template: String.raw`
            <draggable
                class="cells"
                v-model='contents'
                handle=".handle"
                v-on:start="dragStart"
                v-on:end="dragEnd"
            >
                <cell
                    v-for="(content, index) in values"
                    v-bind:value="content.source"
                    v-bind:output="content.outputs"
                    v-bind:id="index"
                    v-bind:key="content.id"
                    v-bind:selected="isSelected(index)"
                    v-bind:type="computeType(content)"
                    v-on:update:value="handleInput"
                    v-on:action="handleAction"
                    v-on:click="handleClick"
                >
                </cell>
            </draggable>`,
        computed: {
            contents: {
                get() {
                    return this.values;
                },
                set(values) {
                    this.$emit('update:values', values);
                }
            }
        },
        methods: {
            computeType (content) {
                if (content.cell_type === 'code') return 'code';
                if (content.cell_type === 'markdown' && content.metadata !== undefined && content.metadata.subtype === 'view') return 'markdown-view';
                if (content.cell_type === 'markdown' && content.metadata !== undefined && content.metadata.subtype === 'edit') return 'markdown-edit';
                throw "Illegal content type";
            },
            isSelected (index) {
                return index === this.select;
            },
            dragStart (event) {
                const cm = this.$globalCMList;
                for (var i = 0; i < cm.length; i++) {
                    cm[i].__oldDragDrop = cm[i].getOption('dragDrop');
                    cm[i].setOption('dragDrop', false);
                }
            },
            dragEnd (event) {
                const cm = this.$globalCMList;
                for (var i = 0; i < cm.length; i++) {
                    cm[i].setOption('dragDrop', cm[i].__oldDragDrop);
                }
            },
            handleInput (event) {
                this.$emit('update:value', event);
            },
            handleAction (event) {
                this.$emit('action', event);
            },
            handleClick (event) {
                this.$emit('click', event);
            },
        }
    });

    const opts = {
        onFilesystem: function() {
            var elem = document.getElementById('loading');
            elem.classList.add('on');
            setTimeout(function() {
                elem.classList.remove('on');
            }, 200);                                
        }
    };
    var python = newPythonKernel(opts);

    const store = new Vuex.Store({
        state: {
            cells: [],
            selectCell: 0,
            page: 0,
        },
        mutations: {
            new (state) {
                Vue.set(state, 'cells', []);
                Vue.set(state, 'selectCell', 0);
                Vue.set(state, 'page', 0);
                const newcell = {
                    cell_type: 'code',
                    execution_count: 1,
                    source: '',
                    outputs: [],
                    metadata: {
                        page: 0
                    }
                };
                state.cells.splice(0, 0, newcell);
                const newcell2 = {
                    cell_type: 'code',
                    execution_count: 1,
                    source: '',
                    outputs: [],
                    metadata: {
                        page: 1
                    }
                };
                state.cells.splice(1, 0, newcell2);
            },
            setSource (state, payload) {
                Vue.set(state.cells[payload.n], 'source', payload.source);
            },
            clearOutput (state, payload) {
                Vue.set(state.cells[payload.n], 'outputs', []);
            },
            addOutput (state, payload) {
                state.cells[payload.n].outputs.push(payload.out);
            },
            insertBefore (state, payload) {
                const newcell = {
                    cell_type: 'code',
                    execution_count: 1,
                    source: '',
                    outputs: [],
                };
                state.cells.splice(payload.n, 0, newcell);
            },
            insertAfter (state, payload) {
                const newcell = {
                    cell_type: 'code',
                    execution_count: 1,
                    source: '',
                    outputs: [],
                };
                state.cells.splice(payload.n + 1, 0, newcell);
            },
            deleteCell (state, payload) {
                state.cells.splice(payload.n, 1);
            },
            updateCells (state, payload) {
                state.cells = payload;
            },
            cellType (state, payload) {
                state.cells[payload.n]['cell_type'] = payload.type;
                if (payload.subtype !== undefined) {
                    if (state.cells[payload.n].metadata === undefined) {
                        state.cells[payload.n].metadata = {}
                    }
                    state.cells[payload.n]['metadata'].subtype = payload.subtype;
                }
            },
            initialiseStore(state) {
                if (localStorage.getItem('store')) {
                    this.replaceState(
                        Object.assign(state, JSON.parse(localStorage.getItem('store')))
                    );
                }
            },
            setSelectCell(state, payload) {
                Vue.set(state, 'selectCell', payload);
            },
        }
    });

    // Subscribe to store updates
    store.subscribe(function (mutation, state) {
        localStorage.setItem('store', JSON.stringify(state));
    });

    function beep() {
        console.log('Beep (placeholder for visual effect)');
    }

    var app = new Vue({
        el: '#app',
        store,
        data: {
            opts: { lineNumbers: true },
        },
        beforeCreate() {
            this.$store.commit('initialiseStore');
        },
        computed: {
            notebook() {
                return this.$store.state;
            },
            pagination() {
                const pages = this.countPages();
                const page = this.getPage() + 1;
                const prePages = 2;
                const postPages = 2;
                var result = [];
                result.push(1);
                var start = page - prePages;
                if (start < prePages) {
                    start = prePages;
                }
                if (start > prePages) {
                    result.push(-1);
                }
                var end = page + postPages;
                if (end > pages - 1) {
                    end = pages - 1;
                }
                for (var i = start; i <= end; i++) {
                    result.push(i);
                }
                if (end < pages - 1) {
                    result.push(-1);
                }
                result.push(pages);
                return result;
            },
        },
        methods: {
            handleInput (event) {
                this.$store.commit('setSource', {n:event.id, source:event.value});
            },
            handleAction (event) {
                var action = event.action;
                const self = this;
                if (action === 'eval') {
                    if (!isBusy() && !isStarting()) {
                        this.$store.commit('clearOutput', {n:event.id});
                        clearInterrupt();
                        python.evaluate(this.$store.state.cells[event.id].source, {
                            onStdout: function(msg) {
                                self.addOutput(event.id, { 
                                    output_type: 'stream',
                                    name: 'stdout',
                                    text: msg
                                });
                            },
                            onStderr: function(msg) {
                                self.addOutput(event.id, { 
                                    output_type: 'stream',
                                    name: 'stderr',
                                    text: msg
                                });
                            },
                            onResponse: function(content_type, msg) {
                                // Adding -> things is handled by run_cell and exec
                                // This could change styling to show eval is done TODO
                            },
                            onOutput: function(content_type, msg) {
                                if (content_type === 'text/html') {
                                    self.addOutput(event.id, {
                                        output_type: 'display_data',
                                        data: {
                                            "text/html": msg
                                        }
                                    });
                                } else if (content_type === 'text/plain') {
                                    self.addOutput(event.id, {
                                        output_type: 'display_data',
                                        data: {
                                            "text/plain": msg
                                        }
                                    });
                                } else if (content_type === 'image/png') {
                                } else {
                                    console.log('Unknown content_type ' + content_type);
                                }
                            },
                        });
                    } else {
                        beep();
                    }
                } else if (action === 'break') {
                    setInterrupt();
                } else if (action === 'insert-after') {
                    this.$store.commit('insertAfter', { n:event.id });
                } else {
                    console.log("Unknown action", action, event.id);
                }
            },
            handleDrag (event) {
                this.$store.commit('updateCells', event);
                this.$store.commit('setSelectCell', undefined);
            },
            addOutput (n, out) {
                this.$store.commit('addOutput', {n, out});
            },
            cellGetPage (cell) {
                if (cell.metadata === undefined) {
                    return 0;
                }
                if (cell.metadata.page === undefined) {
                    return 0;
                }
                return cell.metadata.page;
            },
            getCells () {
                var result = [];
                const cells = this.$store.state.cells;
                for (var i = 0; i < cells.length; i++) {
                    const cell = cells[i];
                    if (this.cellGetPage(cell) === this.getPage()) {
                        result.push(cell);
                    }
                }
                return result;
            },
            getSelect () {
                return this.$store.state.selectCell;
            },
            getPage () {
                return this.$store.state.page;
            },
            handleClick (event) {
                this.$store.commit('setSelectCell', event.id);
            },
            handleOuterClick (event) {
                this.$store.commit('setSelectCell', undefined);
            },
            fileNew (event) {
                this.$store.commit('new');
            },
            fileSave (event) {
                const data = JSON.stringify(this.$store.state);
                const blob = new Blob([data], {type:"application/json"});
                const url = window.URL.createObjectURL(blob);
                console.log("saving", url);
            },
            selectionValid (n) {
                if (n === undefined) {
                    return false;
                }
                return (n >= 0 && n < this.$store.state.cells.length);
            },
            countPages () {
                const cells = this.$store.state.cells;
                var maxPage = 0;
                for (var i = 0; i < cells.length; i++) {
                    const cell = cells[i];
                    if (cell.metadata && cell.metadata.page > maxPage) {
                        maxPage = cell.metadata.page;
                    }
                }
                return maxPage + 1;
            },
            pageValid (n) {
                const numPages = this.countPages();
                return n >= 0 && n < numPages;
            },
            deleteCell (event) {
                const n = this.$store.state.selectCell;
                if (this.selectionValid(n)) {
                    this.$store.commit('deleteCell', { n });
                }
                if (this.$store.state.cells.length === 0) {
                    // If user deleted last cell, start with fresh notebook
                    this.$store.commit('new');
                }
            },
            typeSomething (event) {
                var txt = window.prompt('Enter input');
                for (var i = 0; i < txt.length; i++) {
                    inputPut(txt.charCodeAt(i));
                }
                // Add newline
                inputPut(10);
                // Signal no more input
                inputPut(0);
            },
            insertBefore (event) {
                const n = this.$store.state.selectCell;
                if (this.selectionValid(n)) {
                    this.$store.commit('insertBefore', { n });
                }
            },
            insertAfter (event) {
                const n = this.$store.state.selectCell;
                if (this.selectionValid(n)) {
                    this.$store.commit('insertAfter', { n });
                }
            },
            typeCellCode (event) {
                const n = this.$store.state.selectCell;
                if (this.selectionValid(n)) {
                    this.$store.commit('cellType', { n, type:'code' });
                }
            },
            typeCellMarkdownEdit (event) {
                const n = this.$store.state.selectCell;
                if (this.selectionValid(n)) {
                    this.$store.commit('cellType', { n, type:'markdown', subtype:'edit' });
                }
            },
            typeCellMarkdownView (event) {
                const n = this.$store.state.selectCell;
                if (this.selectionValid(n)) {
                    this.$store.commit('cellType', { n, type:'markdown', subtype:'view' });
                }
            },
            debugDump (event) {
                console.log('Notebook dump');
                console.log(JSON.stringify(this.notebook, null, 2));
            },
        }
    });

    setInterval(function() {
        var elem = document.getElementById('busy');
        if (isBusy()) {
            elem.classList.add('on');
        } else {
            elem.classList.remove('on');
        }
        var elem = document.getElementById('starting');
        if (isStarting()) {
            elem.classList.add('on');
        } else {
            elem.classList.remove('on');
        }
    }, 100);

});


</script>
</body>
</html>
