
.led {
    width: 16px;
    height: 16px;
    background-image: url('../gfx/led-sprite-small.png');
    background-position: 0px -128px;
}
.led.on {
    background-position: 0px -144px;
}
.uibox {
    position: sticky;
    top: 0px;
    padding: 10px;
    background: #fff;
    z-index: 2;
}
