
div.status {
    display: inline-flex;
    width: auto;
    height: 32px;
    margin: 10px;
}
div.status p {
    padding: 0;
    margin: 0;
    font-size: 10pt;
    font-family: monospace;
}

#app {
    outline: none !important;
}
.cell {
    position: relative;
    border: 1px solid transparent;
    border-left-width: 5px;
    margin: 15px;
    display: flex;
}
.cell.selected {
    border: 1px solid #00f;
    border-left-width: 5px;
}
.cell.command {
    background: #ddd;
    border: 1px solid #080;
    border-left-width: 5px;
    border-right-width: 5px;
}
.readonly-inner {
    border: 15px solid;
    border-image: repeating-linear-gradient(44deg, #888,#888 7px,#ff0 7px, #ff0 15px, #888 15px) 0 15 0 0;
    border-width: 0px 15px 0px 0px;
}
.side-left.working {
    background: #edf;
}
.side-left.evaluated {
    background: #0a0;
}

div .side-left {
    min-height: 40px;
    flex: 0 0 40px;
}
div .side-right {
    flex: 1 1 auto;
    overflow: hidden;
}
div.cellinput {
    height: auto;
    width: 100%;
    padding: 10px 8px 10px 10px;
}
div.cellinput.CodeMirror {
    border: 1px solid #f0f4ff;
    border-radius: 4px;
    height: auto;
    z-index: 0;
    width: 100%;
}
div.checkpoint {
    padding: 10px 8px 10px 10px;
}
div.code div.cellinput.CodeMirror {
    background-color: #f6faff;
}   
div.markdown div.cellinput.CodeMirror {
    background-color: #fffaf6;
}
.cellinput.CodeMirror-focused {
}
.CodeMirror-scroll {
    width: auto;
}

.output {
    height: auto;
}
div.output pre {
    background-color: transparent;
}
.evaloutput {
    height: auto;
}
div.output pre.stdout {
}
div.output pre.stderr {
    background-color: #ff0;
}
.eval {
}
.output pre {
    white-space: pre-wrap;
    word-break: break-all;
    margin: 0;
    padding: 1px 24px 1px 24px;
}
.output div.html {
    margin: 0;
    padding: 1px 24px 1px 24px;
}
.led {
    width: 16px;
    height: 16px;
    background-image: url('../gfx/led-sprite-small.png');
    background-position: 0px -128px;
}
.led.on {
    background-position: 0px -144px;
}
.uibox {
    position: sticky;
    top: 0px;
    padding: 10px;
    background: #fff;
    z-index: 2;
}
