<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>PyBook Notebook</title>
<script defer src="../lib/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="../lib/codemirror/codemirror.css">
<script defer src="../lib/codemirror/python.js"></script>
<script defer src="../lib/codemirror/markdown.js"></script>
<script defer src="../lib/vue.js"></script>
<script defer src="../lib/vuex.js"></script>
<script defer src="../lib/marked.min.js"></script>
<script src="../lib/Sortable.min.js"></script>
<script src="../lib/vuedraggable.umd.min.js"></script>
<link rel="stylesheet" href="../lib/bulma.min.css">

<style>

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../lib/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

div.status {
    display: inline-flex;
    width: auto;
    height: 32px;
    margin: 10px;
}
div.status p {
    padding: 0;
    margin: 0;
    font-size: 10pt;
    font-family: monospace;
}

#app {
    outline: none !important;
}
.cell {
    position: relative;
    border: 1px solid transparent;
    border-left-width: 5px;
    margin: 15px;
    display: flex;
}
.cell.selected {
    border: 1px solid #00f;
    border-left-width: 5px;
}
.cell.command {
    background: #ddd;
    border: 1px solid #080;
    border-left-width: 5px;
    border-right-width: 5px;
}
.readonly-inner {
    border: 15px solid;
    border-image: repeating-linear-gradient(44deg, #888,#888 7px,#ff0 7px, #ff0 15px, #888 15px) 0 15 0 0;
    border-width: 0px 15px 0px 0px;
}
.side-left.working {
    background: #edf;
}

div .side-left {
    min-height: 40px;
    flex: 0 0 40px;
}
div .side-right {
    flex: 1 1 auto;
    overflow: hidden;
}
div.cellinput {
    height: auto;
    width: 100%;
    padding: 10px 8px 10px 10px;
}
div.cellinput.CodeMirror {
    border: 1px solid #f0f4ff;
    border-radius: 4px;
    height: auto;
    z-index: 10;
    width: 100%;
}
div.code div.cellinput.CodeMirror {
    background-color: #f6faff;
}   
div.markdown div.cellinput.CodeMirror {
    background-color: #fffaf6;
}
.cellinput.CodeMirror-focused {
}
.CodeMirror-scroll {
    width: auto;
}

.output {
    height: auto;
}
div.output pre {
    background-color: transparent;
}
.evaloutput {
    height: auto;
}
div.output pre.stdout {
}
div.output pre.stderr {
    background-color: #ff0;
}
.eval {
}
.output pre {
    white-space: pre-wrap;
    word-break: break-all;
    margin: 0;
    padding: 1px 24px 1px 24px;
}
.led {
    width: 16px;
    height: 16px;
    background-image: url('../gfx/led-sprite-small.png');
    background-position: 0px -128px;
}
.led.on {
    background-position: 0px -144px;
}
</style>
</head>
<body>


<div class="box">

<div id="app" tabindex="0"
    v-on:click.stop="handleOuterClick"
    v-on:keyup.right.ctrl.exact="pageNext"
    v-on:keyup.left.ctrl.exact="pagePrevious"
    v-on:keyup.up.ctrl.exact="cellPrevious"
    v-on:keyup.down.ctrl.exact="cellNext"
    v-on:keyup.esc.exact="ifEdit(modeCommand)"
    v-on:keyup.enter.exact="ifCommand(modeEdit)"
    v-on:keyup.enter.ctrl.exact="eval"
    v-on:keyup.enter.shift.exact="evalNext"
    v-on:keyup.enter.alt.exact="evalNew"
    v-on:keyup.c.ctrl.exact='interrupt'
    v-on:keyup.k.ctrl.exact='terminate'
    v-on:keyup.i.ctrl.exact='insertCellAfter'
    v-on:keyup.up.exact='ifCommand(cellPrevious)'
    v-on:keyup.down.exact='ifCommand(cellNext)'
    v-on:keyup.a.exact='ifCommand(insertCellBefore)'
    v-on:keyup.b.exact='ifCommand(insertCellAfter)'
    v-on:keyup.c.exact='ifCommand(clearCellOutput)'
    v-on:keyup.d.exact='ifCommand(deleteCell)'
    v-on:keyup.h.exact='ifCommand(toggleHiddenCell)'
    v-on:keyup.r.exact='ifCommand(toggleReadOnlyCell)'
    v-on:keyup.s.exact='ifCommand(toggleSubmitCell)'
    v-on:keyup.y.exact='ifCommand(typeCellCode)'
    v-on:keyup.m.exact='ifCommand(typeCellMarkdownEdit)'
    v-on:keyup.m.shift.exact='ifCommand(typeCellMarkdownView)'
    v-on:keyup.a.alt.exact='switchDocId'
>

    <div id="menu">
        <dropdown name="Cell" :values="[
            { text:'Insert new cell before', action:insertCellBefore },
            { text:'Insert new cell after', action:insertCellAfter },
            { text:'Delete cell', action:deleteCell },
            { divider:true },
            { text:'Move cell up', action:moveCellBefore },
            { text:'Move cell down', action:moveCellAfter },
            { divider:true },
            { text:'Type - Code', action:typeCellCode },
            { text:'Type - MarkDown - Edit', action:typeCellMarkdownEdit },
            { text:'Type - MarkDown - View', action:typeCellMarkdownView },
            { divider:true },
            { text:'Send stdin input', action:typeSomething },
        ]">
        </dropdown>
        <dropdown name="Page" :values="[
            { text:'Insert new page before', action:insertPageBefore },
            { text:'Insert new page after', action:insertPageAfter },
            { text:'Delete page', action:deletePage },
            { divider:true },
            { text:'Move page earlier', action:movePageBefore },
            { text:'Move page later', action:movePageAfter },
        ]">
        </dropdown>
        <dropdown name="Debug" :values="[
            { text:'Console dump', action:debugDump },
            { text:'Clear local files', action:debugClear },
            { text:'Save notebook', action:debugSave },
            { divider:true },
            { text:'Save', filesave:true },
        ]">
        </dropdown>
        <status
            v-bind:value="status"
        ></status>

    </div>

    <pagination
        v-bind:pages="countPages()"
        v-bind:current="page"
        v-on:page="handlePage"
        v-on:page-previous="pagePrevious"
        v-on:page-next="pageNext"
    >
    </pagination>

    <cells
        v-on:update:value="handleInput"
        v-on:update:values="handleDrag"
        v-on:action="handleAction"
        v-on:click="handleClick"
        v-on:submit="handleSubmit"
        v-bind:values="cells"
        v-bind:select="selectCell"
        v-bind:command="isCommandMode"
        ref="cells"
    >
    </cells>
</div>

</div>

<script type='module'>

import { onready } from './onready.js'
import { signalMap,
         isBusy,
         isStarting, setStarting,
         setInterrupt, clearInterrupt,
         inputPut
       } from './signal.js';
import { newPythonKernel } from './python.js';
import { parse,
         unparse } from './parser.js';

// The event bus is for application events that bypass the component hierarchy.
// It is currently used to pass focus clicks from deep children back to toplevel.
// Tightly coupled events from child->parent are not put on the event bus.
const EventBus = new Vue();

onready(function() {

    Vue.component('pagination', {
        props: ['pages', 'current'],
        template: String.raw`
        <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous" v-on:click="pagePrevious">Previous</a>
            <a class="pagination-next" v-on:click="pageNext">Next</a>
            <ul class="pagination-list">
                <li v-for="p in paginate">
                <a v-if="p !== -1" class="pagination-link" v-on:click="handlePage(p - 1)" v-bind:class="{ 'is-current': p === current + 1 }" :aria-label="p">{{p}}</a>
                <span v-if="p === -1" class="pagination-ellipsis">&hellip;</span>
                </li>
            </ul>
        </nav>
        `,
        computed: {
            paginate: function() {
                console.log('paginate', this.pages, this.current);
                // Simple case is not too many pages, just show them all in this case
                const pages = this.pages;
                let prePages = 3;
                let postPages = 3;
                if (pages <= 2 + 2 + prePages + 1 + postPages) {
                    let result = [];
                    for (let i = 0; i < pages; i++) {
                        result.push(i + 1);
                    }
                    return result;
                }
                const page = this.current + 1;
                var result = [];
                result.push(1);
                var start = page - prePages;
                if (start <= 3) {
                    // If there is not enough room for first ellipsis,
                    // put pages in that spot instead.
                    postPages += 3 - start;
                    start = 3;
                }
                if (start >= 3) {
                    // If we would just put ... but the page would do as nicely, put the page
                    if (start == 3) {
                        result.push(2);
                    } else {
                        result.push(-1);
                    }
                }
                var end = page + postPages;
                if (end >= pages - 1) {
                    start -= end - (pages - 1) + 1;
                    end = pages - 2;
                }
                for (var i = start; i <= end; i++) {
                    result.push(i);
                }
                if (end <= pages - 2) {
                    if (end == pages - 2) {
                        result.push(pages - 1);
                    } else {
                        result.push(-1);
                    }
                }
                result.push(pages);
                return result;
            },
        },
        methods: {
            pagePrevious: function() {
                this.$emit('page-previous');
            },
            pageNext: function() {
                this.$emit('page-next');
            },
            handlePage: function(p) {
                this.$emit('page', p);
            },
        },
    });

    Vue.component('dropdown', {
        props: ['name', 'values'],
        // Race condition on clicking items and blurring main dropdown - resolve by preventing default of mousedown
        // Mousedown happens before blur, the preventdefault stops the blur, then the click action happens which can hide the dropdown.
        template: String.raw`
            <div :class="dropdownClasses">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopups="true" :aria-controls="name" @click="toggleDropdown()" v-on:blur="hideDropdown">
                        <span>{{ name }}</span>
                    </button>
                </div>
                <div class="dropdown-menu" :id="name" role="menu">
                    <div class="dropdown-content">
                        <template v-for="value in values">
                            <a class="dropdown-item" v-if="!value.divider" v-on:mousedown.prevent="" v-on:click="function() { value.action(); hideDropdown(); }">{{ value.text }}</a>
                            <a class="dropdown-divider" v-if="value.divider"></a>
                            <filesave v-if="value.filesave" v-bind:value="{}"></filesave>
                        </template>
                    </div>
                </div>
            </div>
        `,
        data: function() {
            return {
                isActive: false,
            }
        },
        computed: {
            dropdownClasses: function() {
                return this.isActive ? "dropdown is-active" : "dropdown";
            },
        },
        methods: {
            toggleDropdown: function() {
                this.isActive = !this.isActive;
            },
            hideDropdown: function() {
                this.isActive = false;
            },
        },
    });

    Vue.component('notebooks', {
        props: ['values'],
        template: String.raw`
            <div class="notebooks">
                <template v-for="value in values">
                    <pre>{{ value.name }}</pre>
                </template>
            </div>
        `,
        methods: {
        }
    });

    Vue.component('filesave', {
        props: ['value'],
        template: String.raw`
            <div class="filesave">
                <a class="dropdown-item" v-on:click.stop="action">Save</a>
            </div>`,
        methods: {
            action() {
                let a = document.createElement('a');
                const data = unparse(this.value.cells);
                const blob = new Blob([data], {type:"text/plain"});
                const url = window.URL.createObjectURL(blob);
                a.download = 'intro.pbnb';
                a.href = url;
                a.click();
            }

        }
    });
    Vue.component('fileimport', {
        props: [],
        template: String.raw`
            <div class="fileimport">
                <span>File import</span>
                <input id="filebutton" type="file" ref="select" @change="readFile()" />
            </div>`,
        methods: {
            readFile() {
                const self = this;
                this.file = this.$refs.select.files[0];
                const reader = new FileReader();
                reader.onload = (res) => {
                    console.log('-----------BEGIN NOTEBOOK TEXT---------------');
                    console.log(res.target.result);
                    console.log('-----------END NOTEBOOK TEXT-----------------');
                    const parsed = parse(res.target.result);
                    console.log('-----------BEGIN NOTEBOOK---------------');
                    console.log(parsed);
                    console.log('-----------END NOTEBOOK-----------------');
                    self.$emit('load', parsed);
                };
                reader.onerror = (err) => console.log(err);
                reader.readAsText(this.file);
            }
        }
    });

    Vue.component('status', {
        props: ['value'],
        template: String.raw`
            <div class="status">
                <span class="material-icons" v-if="value=='Initializing'">cloud</span>
                <span class="material-icons" v-if="value=='Ready'">done</span>
                <span class="material-icons" v-if="value=='Working'">cloud</span>
                <span class="material-icons" v-if="value=='Interrupt'">report</span>
                <p>{{ value }}</p>
            </div>`,
    });

    // Global variable keeping list of all codemirror editors
    // Needed to quickly update dragdrop state (prevent dropping in editors)
    Vue.prototype.$globalCMList = [];

    Vue.component('codemirror', {
        props: ['options', 'value', 'id'],
        template: String.raw`
            <div class="cellinput">
                <textarea></textarea>
            </div>`,
        mounted: function() {
            var self = this;
            var elem = self.$el.querySelector('textarea');
            self.editor = CodeMirror.fromTextArea(elem, self.options);
            self.$globalCMList.push(self.editor);
            self.editor.getWrapperElement().classList.add('cellinput');
            self.editor.setValue(self.value || '');
            self.editor.on('change', function(cm) {
                self.$emit('update:value', cm.getValue());
            });
            self.editor.on('focus', function(cm) {
                EventBus.$emit('cmfocus', { id:self.id });
            });
            self.editor.setOption('extraKeys', {
                // Remove default actions for commands handled at higher app level
                'Ctrl-Up': function(cm) {},
                'Ctrl-Down': function(cm) {},
                'Ctrl-Left': function(cm) {},
                'Ctrl-Right': function(cm) {},
                'Esc': function(cm) {},
                'Ctrl-Enter': function(cm) {},
                'Shift-Enter': function(cm) {},
                'Alt-Enter': function(cm) {},
                'Ctrl-C': function(cm) {},
                'Ctrl-K': function(cm) {},
                'Ctrl-I': function(cm) {},
                // Make pressing "tab" key insert spaces to correct indent level
                'Tab': function(cm) {
                    let spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
                    cm.replaceSelection(spaces);
                },
            });
        },
        watch: {
            value: function(v) {
                var currentValue = this.editor.getValue();
                if (currentValue !== v) {
                    this.editor.setValue(v);
                }
            },
            options: function(opts) {
                // If options changes, need to set each one in editor
                Object.entries(opts).forEach(([k, v]) => {
                    this.editor.setOption(k, v);
                });
            }
        },
        methods: {
            focus () {
                this.editor.focus();
                return true;
            },
            blur () {
                this.editor.getInputField().blur();
                return true;
            }
        }
    });

    Vue.component('dataoutput', {
        props: ['value', 'isResult'],
        template: String.raw`
            <div>
                <pre v-if="isPre(value)" :class="getClass(value)"><img v-if="isResult" src="../gfx/right2.svg" width=10 height=10></img> {{ value['text/plain'] }}</pre>
                <div v-if="isHtml(value)" :class="getClass(value)"><img v-if="isResult" src="../gfx/right2.svg" width=10 height=10></img><div class="content" v-html="value['text/html']"></div></div>
                <img v-if="isSVG(value)" :src="dataURI(value['image/svg+xml'])" />
            </div>
        `,
        methods: {
            getClass (value) {
                return "stdout";
            },
            isPre (value) {
                return value['text/plain'] !== undefined;
            },
            isHtml (value) {
                return value['text/html'] !== undefined;
            },
            isSVG (value) {
                return value['image/svg+xml'] !== undefined;
            },
            dataURI (value) {
                return 'data:image/svg+xml;base64,' + btoa(value);
            }
        }
    });

    Vue.component('celloutput', {
        props: ['values'],
        template: String.raw`
            <div class="output">
                <template v-for="value in values">
                    <pre v-if="isStream(value)" :class="value.name">{{ value.text }}</pre>
                    <dataoutput
                        v-if="isExecuteResult(value) || isDisplayData(value)"
                        v-bind:value="value.data"
                        v-bind:isResult="isExecuteResult(value)"
                    >
                    </dataoutput>
                </template>
            </div>`,
        methods: {
            isStream (value) {
                return value.output_type === 'stream';
            },
            isExecuteResult (value) {
                return value.output_type === 'execute_result';
            },
            isDisplayData (value) {
                return value.output_type === 'display_data';
            },
        }
    });

    Vue.component('cell', {
        props: ['value', 'output', 'id', 'selected', 'type', 'state', 'command', 'hidden', 'readonly', 'submit'],
        template: String.raw`
            <div class="cell" v-bind:class="classObject" v-on:click.stop="handleClick" v-if="!hidden">
                <div class="side-left handle" :class="leftClass">
                </div>
                <div class="side-right" :class="rightClass">
                    <div :class="readonlyClass">
                        <codemirror
                            v-bind:value="value"
                            v-bind:id="id"
                            v-bind:options="cmOptions"
                            v-on:update:value="handleInput"
                            v-on:action="handleAction"
                            v-if="showEdit"
                            ref="codemirror"
                            >
                        </codemirror>
                    </div>
                    <button class="button is-primary" v-if="submit" v-on:click.stop="handleSubmit">
                        Submit
                    </button>
                    <celloutput
                        v-bind:values="filteredOutput"
                        v-if="showResults"
                    >
                    </celloutput>
                </div>
            </div>`,
        computed: {
            cmOptions () {
                let options = { };
                if (this.type === 'code') {
                    options.mode = 'python';
                }
                if (this.type === 'markdown-edit' || this.type === 'markdown-view') {
                    options.mode = 'markdown';
                }
                options.readOnly = this.readonly;
                return options;
            },
            showEdit () {
                return this.type === 'code' || this.type === 'markdown-edit';
            },
            showResults () {
                return this.type === 'code' || this.type === 'markdown-view' || this.type === 'markdown-edit';
            },
            readonlyClass: function () {
                return {
                    'readonly-inner': this.readonly,
                };
            },
            classObject: function () {
                return {
                    selected: this.selected,
                    command: this.command,
                    working: this.state === 'working',
                    readonly: this.readonly,
                }
            },
            filteredOutput () {
                if (this.type === 'code') {
                    return this.output;
                }
                if (this.type === 'markdown-edit' || this.type === 'markdown-view') {
                    return [ {
                        output_type:'display_data',
                        data: {
                            'text/html': marked(this.value),
                        },
                    } ];
                }
            },
            leftClass: function() {
                return {
                    working: this.state === 'working',
                }
            },
            rightClass: function () {
                return {
                    code: this.type === 'code',
                    markdown: this.type === 'markdown-edit' || this.type === 'markdown-view',
                }
            },
        },
        methods: {
            handleInput (event) {
                this.$emit('update:value', { id:this.id, value:event });
            },
            handleAction (event) {
                this.$emit('action', { id:this.id, action:event.action });
            },
            handleClick (event) {
                this.$emit('click', { id:this.id });
            },
            handleSubmit (event) {
                this.$emit('submit', { id:this.id });
            },
            focus () {
                if (this.$refs.codemirror) {
                    return this.$refs.codemirror.focus();
                } else {
                    return false;
                }
            },
            blur () {
                if (this.$refs.codemirror) {
                    return this.$refs.codemirror.blur();
                } else {
                    return false;
                }
            }

        }
    });

    Vue.component('draggable', vuedraggable);

    Vue.component('cells', {
        props: [ 'values', 'select', 'command' ],
        template: String.raw`
            <draggable
                class="cells"
                v-model='contents'
                handle=".handle"
                v-on:start="dragStart"
                v-on:end="dragEnd"
            >
                <cell
                    v-for="(content, index) in contents"
                    v-bind:value="content.source"
                    v-bind:output="content.outputs"
                    v-bind:id="index"
                    v-bind:key="content.id"
                    v-bind:selected="isSelected(index)"
                    v-bind:command="isSelected(index) && command"
                    v-bind:type="computeType(content)"
                    v-bind:state="content.state"
                    v-bind:hidden="isHidden(content)"
                    v-bind:readonly="isReadOnly(content)"
                    v-bind:submit="isSubmit(content)"
                    v-on:update:value="handleInput"
                    v-on:action="handleAction"
                    v-on:click="handleClick"
                    v-on:submit="handleSubmit"
                    ref="cell"
                >
                </cell>
            </draggable>`,
        computed: {
            contents: {
                get() {
                    return this.values;
                },
                set(values) {
                    this.$emit('update:values', values);
                }
            }
        },
        methods: {
            isSubmit (content) {
                if (content.cell_type === 'code' && content.metadata !== undefined && content.metadata.submit === true) {
                    return true;
                }
                return false;
            },
            isHidden (content) {
                if (content.cell_type === 'code' && content.metadata !== undefined && content.metadata.hidden === true) {
                    return true;
                }
                return false;
            },
            isReadOnly (content) {
                if (content.metadata !== undefined && content.metadata.readonly === true) {
                    return true;
                }
                return false;
            },
            computeType (content) {
                if (content.cell_type === 'code') return 'code';
                if (content.cell_type === 'markdown' && content.metadata !== undefined && content.metadata.subtype === 'view') return 'markdown-view';
                if (content.cell_type === 'markdown' && content.metadata !== undefined && content.metadata.subtype === 'edit') return 'markdown-edit';
                throw "Illegal content type";
            },
            isSelected (index) {
                return index === this.select;
            },
            dragStart (event) {
                const cm = this.$globalCMList;
                for (var i = 0; i < cm.length; i++) {
                    cm[i].__oldDragDrop = cm[i].getOption('dragDrop');
                    cm[i].setOption('dragDrop', false);
                }
            },
            dragEnd (event) {
                const cm = this.$globalCMList;
                for (var i = 0; i < cm.length; i++) {
                    cm[i].setOption('dragDrop', cm[i].__oldDragDrop);
                }
            },
            handleInput (event) {
                this.$emit('update:value', event);
            },
            handleAction (event) {
                this.$emit('action', event);
            },
            handleClick (event) {
                this.$emit('click', event);
            },
            handleSubmit (event) {
                this.$emit('submit', event);
            },
            focus (n) {
                return this.$refs.cell[n].focus();
            },
            blur (n) {
                return this.$refs.cell[n].blur();
            },
            blurAll () {
                // Check that this.values is defined
                // It can be undefined when all pages are deleted before fresh empty page is added
                if (this.values !== undefined) {
                    for (let i = 0; i < this.values.length; i++) {
                        this.blur(i);
                    }
                }
                return true;
            }
        }
    });

    const opts = {
        onReady: function (version) {
            EventBus.$emit('update:status', 'Ready');
            console.log(version);
        },
    };
    var python = newPythonKernel(opts);

    function newCell() {
        return {
            cell_type: 'code',
            source: '',
            outputs: [],
            metadata: {}
        };
    }
    function newPage() {
        return [ newCell() ];
    }
    const store = new Vuex.Store({
        state: {
            cells: [newPage()],
        },
        mutations: {
            newNotebook (state) {
                Vue.set(state, 'cells', [newPage()]);
            },
            setSource (state, payload) {
                Vue.set(state.cells[payload.p][payload.n], 'source', payload.source);
            },
            clearOutput (state, payload) {
                Vue.set(state.cells[payload.p][payload.n], 'outputs', []);
            },
            addOutput (state, payload) {
                state.cells[payload.p][payload.n].outputs.push(payload.out);
            },
            setCellState (state, payload) {
                Vue.set(state.cells[payload.p][payload.n], 'state', payload.state);
            },
            insertCellBefore (state, payload) {
                state.cells[payload.p].splice(payload.n, 0, newCell());
            },
            insertCellAfter (state, payload) {
                state.cells[payload.p].splice(payload.n + 1, 0, newCell());
            },
            insertPageBefore (state, payload) {
                state.cells.splice(payload.p, 0, newPage());
            },
            insertPageAfter (state, payload) {
                state.cells.splice(payload.p + 1, 0, newPage());
            },
            deletePage (state, payload) {
                state.cells.splice(payload.p, 1);
            },
            deleteCell (state, payload) {
                state.cells[payload.p].splice(payload.n, 1);
            },
            updateCells (state, payload) {
                Vue.set(state.cells, payload.p, payload.cells);
            },
            moveCell (state, payload) {
                const page = state.cells[payload.p];
                const cell = page[payload.n];
                page.splice(payload.n, 1); // remove cell
                page.splice(payload.position, 0, cell); // add original cell
            },
            movePage (state, payload) {
                const page = state.cells[payload.p];
                state.cells.splice(payload.p, 1); // remove page
                state.cells.splice(payload.position, 0, page); // add original page
            },
            cellSetFlag (state, payload) {
                // payload has:
                //   p: page
                //   n: cell num
                //   flag: flag name  (in 'hidden', 'readonly')
                //   value: true or false
                Vue.set(state.cells[payload.p][payload.n].metadata, payload.flag, payload.value);
            },
            cellType (state, payload) {
                Vue.set(state.cells[payload.p][payload.n], 'cell_type', payload.type);
                if (payload.subtype !== undefined) {
                    Vue.set(state.cells[payload.p][payload.n].metadata, 'subtype', payload.subtype);
                }
            },
            initializeObject (state, payload) {
                this.replaceState(Object.assign(state, payload));
            },
            initializeString (state, payload) {
                const parsed = JSON.parse(payload);
                this.commit('initializeObject', parsed);
            },
            initializeStore (state, payload) {
                const stored = localStorage.getItem(payload);
                if (stored) {
                    this.commit('initializeString', stored);
                }
                // Otherwise do nothing if no localStorage result
            }
        }
    });

    function beep() {
        console.log('Beep (placeholder for visual effect)');
    }

    var app = new Vue({
        el: '#app',
        store,
        data: () => {
            return {
                opts: { lineNumbers: true },
                status: 'Initializing',
                mode: 'edit',
                docId: 'pb001',
                selectCell: 0,
                page: 0,
            };
        },
        created() {
            // Subscribe to store updates
            const self = this;
            this.$store.subscribe(function (mutation, state) {
                localStorage.setItem(self.docId, JSON.stringify(state));
            });
            this.initializeStore();
        },
        mounted () {
            const self = this;
            self.modeEdit();
            self.updateFocus();
            EventBus.$on('cmfocus', function (event) {
                // If user clicks on CodeMirror edit area, switch to edit mode
                // Otherwise the cursor will focus and we'll still be in command mode
                // Note this also triggers when we tell CodeMirror to focus
                // Be careful not to get into infinite loops
                self.modeEdit();
            });
            EventBus.$on('update:status', function (payload) {
                self.status = payload;
            });
        },
        computed: {
            notebook() {
                let result = this.$store.state;
                result.opts = this.opts;
                // Do not include status
                result.mode = this.mode;
                result.selectCell = this.selectCell;
                result.page = this.page;
                return result;
            },
            pagination() {
                const pages = this.countPages();
                // Simple case is not too many pages, just show them all in this case
                let prePages = 3;
                let postPages = 3;
                if (pages <= 2 + 2 + prePages + 1 + postPages) {
                    let result = [];
                    for (let i = 0; i < pages; i++) {
                        result.push(i + 1);
                    }
                    return result;
                }
                const page = this.page + 1;
                var result = [];
                result.push(1);
                var start = page - prePages;
                if (start <= 3) {
                    // If there is not enough room for first ellipsis,
                    // put pages in that spot instead.
                    postPages += 3 - start;
                    start = 3;
                }
                if (start >= 3) {
                    // If we would just put ... but the page would do as nicely, put the page
                    if (start == 3) {
                        result.push(2);
                    } else {
                        result.push(-1);
                    }
                }
                var end = page + postPages;
                if (end >= pages - 1) {
                    start -= end - (pages - 1) + 1;
                    end = pages - 2;
                }
                for (var i = start; i <= end; i++) {
                    result.push(i);
                }
                if (end <= pages - 2) {
                    if (end == pages - 2) {
                        result.push(pages - 1);
                    } else {
                        result.push(-1);
                    }
                }
                result.push(pages);
                return result;
            },
            cells () {
                return this.$store.state.cells[this.page];
            },
            isCommandMode () {
                return this.mode === 'command';
            }
        },
        methods: {
            initializeStore () {
                // Initialize store to localstorage value if it exists
                this.$store.commit('initializeStore', this.docId);
            },
            switchDocId () {
                this.docId = 'pb002';
                this.initializeStore();
            },
            ifCommand (func) {
                var self = this;
                if (self.mode === 'command') {
                    return func();
                }
            },
            ifEdit (func) {
                var self = this;
                if (self.mode === 'edit') {
                    return func();
                }
            },
            modeCommand () {
                if (this.mode !== 'command') {
                    this.mode = 'command';
                    this.updateFocus();
                }
            },
            modeEdit () {
                if (this.mode !== 'edit') {
                    this.mode = 'edit';
                    this.updateFocus();
                }
            },
            updateFocus() {
                // Look at selectCell, call focus() on that codemirror instance
                // Wait until DOM updates in case we're adding new cells or rearranging editors
                this.$nextTick( () => {
                    const n = this.selectCell;
                    this.$refs.cells.blurAll();
                    this.$el.focus();
                    if (this.mode === 'edit') {
                        if (n !== undefined) {
                            this.$refs.cells.focus(n);
                        }
                    }
                });
            },
            handleInput (event) {
                this.$store.commit('setSource', {p:this.page, n:event.id, source:event.value});
            },
            handleLoad (event) {
                // We get parsed object that represents cells, but not other editor state
                // Fill in other editor state with sensible values.
                const state = { cells:event, mode:"edit", page:0, selectCell:0 };
                this.$store.commit('initializeObject', state);
            },
            clearOutput (p, n) {
                this.$store.commit('clearOutput', {p, n});
            },
            setCellState (p, n, state) {
                this.$store.commit('setCellState', {p, n, state});
            },
            cellType (p, n) {
                return this.$store.state.cells[p][n].cell_type;
            },
            metadata (p, n) {
                return this.$store.state.cells[p][n].metadata;
            },
            isSubmit (p, n) {
                const mdata = this.metadata(p, n);
                return mdata && mdata.submit === true;
            },
            isHidden (p, n) {
                const mdata = this.metadata(p, n);
                return mdata && mdata.hidden === true;
            },
            isReadOnly (p, n) {
                const mdata = this.metadata(p, n);
                return mdata && mdata.readonly === true;
            },
            internalEval (p, n, submit) {
                this.clearOutput(p, n);
                if (this.cellType(p, n) !== 'code') {
                    beep();
                    return;
                }
                this.setCellState(p, n, 'working');
                EventBus.$emit('update:status', 'Working');
                const self = this;
                const callbacks = {
                    onStdout: function(msg) {
                        self.addOutput(p, n, { 
                            output_type: 'stream',
                            name: 'stdout',
                            text: msg
                        });
                    },
                    onStderr: function(msg) {
                        self.addOutput(p, n, { 
                            output_type: 'stream',
                            name: 'stderr',
                            text: msg
                        });
                    },
                    onResponse: function(content_type, msg) {
                        // Adding -> things is handled by run_cell and exec
                        self.setCellState(p, n, '');
                        EventBus.$emit('update:status', 'Ready');
                    },
                    onOutput: function(content_type, msg) {
                        if (content_type === 'text/html') {
                            self.addOutput(p, n, {
                                output_type: 'display_data',
                                data: {
                                    "text/html": msg
                                }
                            });
                        } else if (content_type === 'text/plain') {
                            self.addOutput(p, n, {
                                output_type: 'display_data',
                                data: {
                                    "text/plain": msg
                                }
                            });
                        } else if (content_type === 'image/svg+xml') {
                            self.addOutput(p, n, {
                                output_type: 'display_data',
                                data: {
                                    "image/svg+xml": msg
                                }
                            });
                        } else if (content_type === 'image/png') {
                            console.log('PNG data ', msg);
                            // TODO... make it show up
                        } else {
                            console.log('Unknown content_type ' + content_type);
                        }
                    },
                };
                if (submit) {
                    python.submit(this.$store.state.cells[p][n].source, callbacks);
                } else {
                    python.evaluate(this.$store.state.cells[p][n].source, callbacks);
                }
            },
            eval () {
                const p = this.page;
                const n = this.selectCell;
                if (!isBusy() && !isStarting()) {
                    clearInterrupt();
                    this.internalEval(p, n);
                } else {
                    beep();
                }
            },
            evalNext () {
                const p = this.page;
                const n = this.selectCell;
                if (!isBusy() && !isStarting()) {
                    clearInterrupt();
                    this.internalEval(p, n);
                    this.cellNext();
                } else {
                    beep();
                }
            },
            evalNew () {
                const p = this.page;
                const n = this.selectCell;
                if (!isBusy() && !isStarting()) {
                    clearInterrupt();
                    this.internalEval(p, n);
                    this.insertCellAfter();
                } else {
                    beep();
                }
            },
            interrupt () {
                console.log('Interrupting python');
                EventBus.$emit('update:status', 'Interrupt');
                setInterrupt();
            },
            terminate () {
                console.log('Terminating python');
                EventBus.$emit('update:status', 'Initializing');
                python.terminate();
            },
            handleAction (event) {
                const p = this.page;
                const n = event.id;
                var action = event.action;
                if (action === 'insert-cell-after') {
                    this.insertCellAfter(event);
                } else {
                    console.log("Unknown action", action, event.id);
                }
            },
            handleDrag (event) {
                const p = this.page;
                this.$store.commit('updateCells', { p, cells:event });
                this.selectCell = undefined;
            },
            handlePage (page) {
                this.page = page;
                this.selectCell = 0;
                this.updateFocus();
            },
            addOutput (p, n, out) {
                this.$store.commit('addOutput', {p, n, out});
            },
            handleClick (event) {
                this.selectCell = event.id;
            },
            handleOuterClick (event) {
                // This is getting triggered by clicking page buttons, so ignore for now
            },
            handleSubmit (event) {
                console.log('app handling submit');
                const p = this.page;
                const n = event.id;
                if (!isBusy() && !isStarting()) {
                    clearInterrupt();
                    this.internalEval(p, n, true);
                } else {
                    beep();
                }
            },
            cellPrevious (event) {
                let c = this.selectCell - 1;
                // Skip hidden cells (but don't go off page)
                while (c >= 0 && this.isHidden(this.page, c)) {
                    c--;
                }
                if (c >= 0 && !this.isHidden(this.page, c)) {
                    this.selectCell = c;
                    this.updateFocus();
                }
            },
            cellNext (event) {
                let c = this.selectCell + 1;
                // Skip hidden cells (but don't go off page)
                while (c < this.cells.length - 1 && this.isHidden(this.page, c)) {
                    c++;
                }
                if (c < this.cells.length && !this.isHidden(this.page, c)) {
                    this.selectCell = c;
                    this.updateFocus();
                }
            },
            fileNew (event) {
                this.$store.commit('newNotebook');
                this.mode = 'edit';
                this.selectCell = 0;
                this.updateFocus();
            },
            selectionValid (n) {
                if (n === undefined) {
                    return false;
                }
                return (n >= 0 && n < this.$store.state.cells[this.page].length);
            },
            countPages () {
                return this.$store.state.cells.length;
            },
            pageValid (n) {
                return n >= 0 && n < this.countPages();
            },
            deleteCell (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    this.$store.commit('deleteCell', { p, n });
                    if (n === this.$store.state.cells[p].length) {
                        // If last cell deleted, select new last one
                        this.selectCell = n - 1;
                    }
                    if (this.$store.state.cells[p].length === 0) {
                        // If user deleted last cell, delete page
                        this.deletePage();
                    }
                }
                this.updateFocus();
            },
            deletePage (event) {
                const p = this.page;
                this.$store.commit('deletePage', { p });
                this.selectCell = 0;
                if (this.page >= this.$store.state.cells.length) {
                    // If we deleted the last page, move to new last page
                    this.page = this.$store.state.cells.length - 1;
                }
                if (this.$store.state.cells.length === 0) {
                    // If user deleted last page, start with fresh notebook
                    this.$store.commit('newNotebook');
                    this.page = 0;
                }
                this.updateFocus();
            },
            typeSomething (event) {
                var txt = window.prompt('Enter input');
                for (var i = 0; i < txt.length; i++) {
                    inputPut(txt.charCodeAt(i));
                }
                // Add newline
                inputPut(10);
                // Signal no more input
                inputPut(0);
            },
            clearCellOutput (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    this.clearOutput(p, n);
                }
            },
            insertCellBefore (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    this.$store.commit('insertCellBefore', { p, n });
                    this.selectCell = n;
                    this.updateFocus();
                }
            },
            insertCellAfter (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    this.$store.commit('insertCellAfter', { p, n });
                    this.selectCell = n + 1;
                    this.updateFocus();
                }
            },
            insertPageBefore (event) {
                const p = this.page;
                if (this.pageValid(p)) {
                    this.$store.commit('insertPageBefore', { p });
                    this.selectCell = 0;
                    this.updateFocus();
                }
            },
            insertPageAfter (event) {
                const p = this.page;
                if (this.pageValid(p)) {
                    this.$store.commit('insertPageAfter', { p });
                    this.selectCell = 0;
                    this.updateFocus();
                }
            },
            typeCellCode (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    this.$store.commit('cellType', { p, n, type:'code' });
                }
            },
            typeCellMarkdownEdit (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    this.$store.commit('cellType', { p, n, type:'markdown', subtype:'edit' });
                }
            },
            typeCellMarkdownView (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    this.$store.commit('cellType', { p, n, type:'markdown', subtype:'view' });
                }
            },
            toggleSubmitCell (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    const submit = this.isSubmit(p, n);
                    this.$store.commit('cellSetFlag', { p, n, flag:'submit', value:!submit });
                }
            },
            toggleReadOnlyCell (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    const readonly = this.isReadOnly(p, n);
                    this.$store.commit('cellSetFlag', { p, n, flag:'readonly', value:!readonly });
                }
            },
            toggleHiddenCell (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && this.selectionValid(n)) {
                    const hidden = this.isHidden(p, n);
                    this.$store.commit('cellSetFlag', { p, n, flag:'hidden', value:!hidden });
                }
            },
            debugDump (event) {
                console.log('Notebook dump');
                console.log(JSON.stringify(this.notebook, null, 2));
            },
            debugClear (event) {
                localStorage.clear();
                this.fileNew();
                this.initializeStore();
            },
            debugSave (event) {
                console.log('Notebook save to file');
                // const txt = '<a href="data:application/xml;charset=utf-8," download="filename.html">Save</a>';
                // const data = JSON.stringify(this.$store.state);
                // const blob = new Blob([data], {type:"application/json"});
                // const url = window.URL.createObjectURL(blob);
                // console.log("saving", url);
            },
            moveCellBefore (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && n > 0) {
                    this.$store.commit('moveCell', { p, n, position:n - 1 });
                    this.selectCell = n - 1;
                    this.updateFocus();
                }
            },
            moveCellAfter (event) {
                const p = this.page;
                const n = this.selectCell;
                if (this.pageValid(p) && n < this.$store.state.cells[p].length - 1) {
                    this.$store.commit('moveCell', { p, n, position:n + 1 });
                    this.selectCell = n + 1;
                    this.updateFocus();
                }
            },
            movePageBefore (event) {
                const p = this.page;
                if (p > 0) {
                    this.$store.commit('movePage', { p:p, position:p - 1 });
                    this.page = p - 1;
                    this.updateFocus();
                }
            },
            movePageAfter (event) {
                const p = this.page;
                if (p < this.$store.state.cells.length - 1) {
                    this.$store.commit('movePage', { p:p, position:p + 1 });
                    this.page = p + 1;
                    this.updateFocus();
                }
            },
            pagePrevious (event) {
                const p = this.page;
                if (p > 0) {
                    this.page = p - 1;
                    this.selectCell = 0;
                    this.updateFocus();
                }
            },
            pageNext (event) {
                const p = this.page;
                if (p < this.$store.state.cells.length - 1) {
                    this.page = p + 1;
                    this.selectCell = 0;
                    this.updateFocus();
                }
            },
        }
    });

    window.app = app;

});


</script>
</body>
</html>
