
@import '../node_modules/bulma/css/bulma.css';

/* My colors */
:root {
    --blue: hsl(217, 71%, 50%);
    --light: #eee;
    --dark: #222;
    --white: #fff;
    --black: #000;
    --grey-lighter: #ddd;
    --grey-light: #aaa;
    --grey: #888;
    --grey-dark: #555;
    --line-gutter: transparent;
    --primary: #00d1b2;
    --primaryhover: #00c4a7;
    --danger: hsl(348, 100%, 61%);
    --dangerhover: hsl(348, 100%, 55%);
    --console-fg: var(--dark);
    --feedback-button-bg: var(--black);
    --feedback-button-fg: var(--light);
    --checkbox-border: var(--grey);
    --stderr-fg: var(--black);
    --stderr-bg: #ff01;
    --stderr-border: #ff08;
    --generic-code-fg: #aa1111;
    --generic-code-bg: var(--light);
    --toolbar-bg: var(--grey-lighter);
    --toolbar-fg: var(--dark);
}

[data-theme="dark"] {
    --blue: hsl(217, 71%, 70%);
    --light: #222;
    --dark: #eee;
    --white: #000;
    --black: #fff;
    --grey-lighter: #333;
    --grey-light: #666;
    --grey: #888;
    --grey-dark: #bbb;
    --line-gutter: transparent;
    --primary: #00d1b2;
    --primaryhover: #00c4a7;
    --danger: hsl(348, 100%, 45%);
    --dangerhover: hsl(348, 100%, 40%);
    --console-fg: #eee;
    --feedback-button-bg: #444;
    --feedback-button-fg: #eee;
    --checkbox-border: var(--grey-dark);
    --stderr-fg: var(--black);
    --stderr-bg: #aa01;
    --stderr-border: #aa06;
    --generic-code-fg: #98c375; /* #c678dd */
    --generic-code-bg: var(--light); /* transparent; */ /* var(--grey-lighter); */
}

html {
    overflow-y: auto;
    background-color: var(--white);
    color: var(--dark);
    transition: all 0.5s ease;
}
body {
    height: 100vh;
    transition: all 0.5s ease;
    color: var(--dark);
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: var(--dark);
}
section {
    transition: all 0.5s ease;
    background-color: var(--white);
    color: var(--dark);
}

section.section {
    padding-bottom: 0;
}

.button {
    border-color: transparent;
}

.box.console {
    background-color: var(--light);
}
.box.editor {
    background-color: var(--light);
}
section .tag {
    background-color: var(--grey-lighter);
    color: var(--dark);
}
.panel-heading {
    background-color: var(--grey-lighter);
    color: var(--dark);
}
[data-theme="dark"] .panel {
    background-color: var(--light);
}
.box {
    background-color: var(--white);
    color: var(--dark);
}
[data-theme="dark"] .box {
    background-color: var(--light);
}
.label {
    color: var(--grey-dark);
}
input[type=checkbox] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: solid 1px var(--checkbox-border);
    margin-right: 8px;
    position: relative;
    vertical-align: -3px;
}

input[type=checkbox]:checked::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--blue);
    position: absolute;
    top: 2px;
    left: 2px;
}

/* Set scrollbar in light mode for everything */
::-webkit-scrollbar {
    width: 12px;
    background-color: var(--grey-lighter);
}
::-webkit-scrollbar-thumb {
    background-color: var(--grey-light);
    border-radius: 6px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

.title-box {
    padding: 0px 10px 5px 10px;
    margin: 5px;
}
.panel-heading {
    padding-left: 15px;
}
footer.footer {
    background-color: var(--white);
    color: var(--grey);
}
hr {
    background-color: var(--light);
}
a {
    color: var(--blue);
}
a:hover {
    color: var(--grey);
}

[data-theme="dark"] .coffee {
    filter: contrast(80%);
    display: inline-block;
}
.subtitle {
    color: var(--dark);
}
nav, nav.navbar {
    color: var(--dark);
    background-color: var(--white);
}

img:hover {
    background-color: transparent;
}

[data-theme="dark"] nav.navbar img {
    filter: invert(1) hue-rotate(180deg);
    background-color: transparent;
}

[data-theme="dark"] nav.navbar.has-shadow {
    box-shadow: 0 2px 0 0 var(--grey-lighter);
}

nav.navbar .navbar-item {
    color: var(--dark);
    background-color: var(--white);
}
nav.navbar .navbar-item:hover {
    color: var(--blue);
}
nav.navbar .navbar-link {
    color: var(--dark);
}
nav.navbar .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: var(--grey-lighter);
}
nav.navbar .navbar-item.has-dropdown:hover .navbar-link {
    background-color: var(--grey-lighter);
}
nav.navbar .navbar-dropdown {
    background-color: var(--white);
}
nav.navbar .navbar-dropdown a.navbar-item:hover {
    background-color: var(--light);
}
hr.navbar-divider {
    background-color: var(--light);
}
[data-theme="dark"] a.button {
    color: var(--dark);
    background-color: var(--grey-lighter);
}
a.button.is-primary {
    color: var(--white);
    background-color: var(--primary);
}
a.button.is-primary:hover {
    color: var(--white);
    background-color: var(--primaryhover);
}
a.button.is-danger {
    color: var(--white);
    background-color: var(--danger);
}
a.button.is-danger:hover {
    color: var(--white);
    background-color: var(--dangerhover);
}

code {
    color: var(--generic-code-fg);
    background-color: var(--generic-code-bg);
    font-size: 16px;
}

div.control, label {
    user-select: none;
}
