
@import '../node_modules/bulma/css/bulma.css';

/* My colors */
:root {
    --blue: hsl(217, 71%, 50%);
    --blue-light: hsl(217, 71%, 70%);
    --light: #eee;
    --dark: #222;
    --white: #fff;
    --black: #000;
    --grey-lighter: #ddd;
    --grey-light: #aaa;
    --grey: #888;
    --grey-dark: #555;
}

html {
    overflow-y: auto;
    background-color: var(--white);
    transition: all 0.5s ease;
}
html.dark {
    background-color: var(--black);
}
body {
    height: 100vh;
    transition: all 0.5s ease;
}
section {
    transition: all 0.5s ease;
}

section.section {
    padding-bottom: 0;
}

.box.console {
    background-color: var(--light);
}
.box.editor {
    background-color: var(--light);
}

section.dark {
    background-color: var(--black);
    color: var(--light);
}

section.dark .box {
    background-color: var(--dark);
    color: var(--light);
}

section.dark .title {
    color: var(--light);
}
section.dark .subtitle {
    color: var(--light);
}
section .tag {
    background-color: var(--grey-lighter);
    color: var(--dark);
}
section.dark .tag {
    background-color: var(--grey-dark);
    color: var(--light);
}
section.dark a {
    color: var(--blue-light);
}
section.dark a:hover {
    color: var(--light);
}

input[type=checkbox] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: solid 1px var(--grey-light);
    margin-right: 8px;
    position: relative;
    vertical-align: -3px;
}

input[type=checkbox]:checked::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--blue);
    position: absolute;
    top: 2px;
    left: 2px;
}

section.dark input[type=checkbox]:checked::before {
    background-color: var(--blue-light);
}

.modal-card-body.dark {
    background-color: var(--dark);
    color: var(--light);
}

.modal-card-body.dark a {
    color: var(--light);
    background-color: var(--dark);
}

.modal-card-body.dark a:hover {
    color: var(--light);
    background-color: var(--grey-dark);
}

.modal-card-body.dark li.is-active a {
    color: var(--dark);
    background-color: var(--blue-light);
}

.modal-card-body.dark li.is-active a:hover {
    color: var(--dark);
    background-color: var(--blue-light);
}

.modal-card-body.dark textarea {
    color: var(--light);
    background-color: var(--dark);
}

.modal-card-body.dark textarea::placeholder {
    color: var(--grey);
}

.modal-card-body.dark input[type=email] {
    color: var(--light);
    background-color: var(--dark);
}

.modal-card-body.dark input[type=email]::placeholder {
    color: var(--grey);
}

/* Set scrollbar in light mode for everything */
::-webkit-scrollbar {
    width: 12px;
    background-color: var(--grey-lighter);
}
::-webkit-scrollbar-thumb {
    background-color: var(--grey-light);
    border-radius: 6px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Set scrollbar in dark mode, need both parts to handle root scrollbar */
.dark::-webkit-scrollbar, .dark ::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark);
}
.dark::-webkit-scrollbar-thumb, .dark ::-webkit-scrollbar-thumb {
    background-color: var(--grey-dark);
    border-radius: 6px;
}
.dark::-webkit-scrollbar-corner, .dark ::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Fixup heading in dark mode */
section.dark nav.panel {
    background-color: var(--dark);
    color: var(--light);
}

section.dark .panel-heading {
    background-color: var(--grey-dark);
    color: var(--light);
}

section.dark label.label {
    color: var(--grey-lighter);
}

.title-box {
    padding: 0px 10px 5px 10px;
    margin: 5px;
}
.panel-heading {
    padding-left: 15px;
}
